.form-error{
    color: red;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
}
.pg-page ul li {
    list-style: none;
}  .pg-page ul li a {
    cursor: pointer;
}
.disable-click{
    pointer-events:none;
}
.image-card .card-img-top {
    border-radius: 9.31818px;
    height: 420px;
    object-fit: cover;
}
