.form-error{
    color: red;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
}

.custom-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.pg-page ul li {
    list-style: none;
}  .pg-page ul li a {
    cursor: pointer;
}
.cursor-pointer{
    cursor: pointer;
}
.disable-click{
    pointer-events:none;
}
.image-card .card-img-top {
    border-radius: 9.31818px;
    height: 420px;
    object-fit: cover;
}

.top-list-addon .img-fluid.left-img {
    border-radius: 9.31818px;
    height: 173px;
    object-fit: cover;
}
.all-list-addon .card-img-top {
    border-radius: 9.31818px;
    height: 173px;
    object-fit: cover;
}

.search-location {
        padding: 0px 20px;
        margin-bottom: 15px;
}
.wrapper {
    background: rgba(0, 0, 0, 0.739216);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    bottom: 0;
    margin: auto;
    z-index: 9999;
}
.c-loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.c-loader-circle {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
    background-color: #389BD6;
    border-radius: 50%;
}
.fc-daygrid-event-harness.booking-slot {
    order: 3 !important;
}


.fc-daygrid-event-harness.availability-slot {
    order: 1 !important;
}
.fc-daygrid-event-harness.availability-details {
    order: 2;
}

.fc-daygrid-event-harness.booking-details {order: 4 !important;}

.fc-daygrid-day-events {
    display: flex;
    flex-direction: column;
}
/* .fc-daygrid-event-dot{display: none !important;} */
/* .availability_count_class { display: block; }
.availability_count_class ~  .availability_count_class { display:none; }
.booking_count_class { display: block; }
.booking_count_class ~  .booking_count_class { display:none; } */

.booking-slot .fc-event-ceremonies_count ~  .fc-event-ceremonies_count { display:none; }
