.form-error{
    color: red;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
}

.custom-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.pg-page ul li {
    list-style: none;
}  .pg-page ul li a {
    cursor: pointer;
}
.cursor-pointer{
    cursor: pointer;
}
.disable-click{
    pointer-events:none;
}
.image-card .card-img-top {
    border-radius: 9.31818px;
    height: 420px;
    object-fit: cover;
}

.top-list-addon .img-fluid.left-img {
    border-radius: 9.31818px;
    height: 173px;
    object-fit: cover;
}
.all-list-addon .card-img-top {
    border-radius: 9.31818px;
    height: 173px;
    object-fit: cover;
}

.search-location {
        padding: 0px 20px;
        margin-bottom: 15px;
    }