.add-ons-detail {
    .numberCircle {
        width: 27px;
        height: 27px;
        line-height: 19px;
        border-radius: 50%;
        text-align: center;
        background: #62cbc9;
        font-weight: 700;
        font-size: 14px;
        color: #ffff;
    }
    .image-block {
        .left-img {
            height: 275px;
            object-fit: cover;
            border-radius: 10.48px;
            aspect-ratio: 1 / 1;
            width: 100%;
        }
        .all-pictures-btn {
            position: absolute;
            bottom: 22px;
            right: 18px;
        }
        .right-img {
            .photo {
                height: 128px;
                object-fit: cover;
                border-radius: 10.48px;
                aspect-ratio: 1 / 1;
                width: 100%;
            }
            .play-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
}
.addons-list {
    padding-left: 1rem;
    li {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }
}
.gallery-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.w-20 {
    width: 20%;
}
.addonspopup-list {
    padding-left: 1rem;
    margin-bottom: 0rem !important;
    li {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }
}



///admin css
.add-on-list-nav {
    .nav-link {
        border: 0;
        background: #FFFFFF;
        box-shadow: 0px 2px 16px #E8F9F7;
        border-radius: 10px;
        padding: 40px 25px;
        @include media-breakpoint-down(md) {
            padding: 15px 15px;
        }
        &.active {
            color: #fff;
            background-color: #62CBC9;
            .add-ons-nav-image {
                img {
                    box-shadow: 0px 2px 16px #3ba6a4;
                }
            }
            .add-ons-nav-data {
                .h3 {
                    color: #fff;
                }
                .subheader-2 {
                    color: #fff;
                }
            } 
        }
    }
}
.add-ons-nav-data {
    .h3 {
        color: #62CBC9;
    }
    .subheader-2 {
        margin-bottom: 0;
        color: #1C1C1C;
    }
}
.add-ons-nav-image {
    img {
        background: #62CBC9;
        box-shadow: 0px 2px 16px #C3ECEB;
        border-radius: 10px;
        width: 44px;
        height: 43px;
        padding: 11px;
    }
}