.add-ons-detail {
    .numberCircle {
        width: 27px;
        height: 27px;
        line-height: 19px;
        border-radius: 50%;
        text-align: center;
        background: #62cbc9;
        font-weight: 700;
        font-size: 14px;
        color: #ffff;
    }
    .image-block {
        .left-img {
            height: 275px;
            object-fit: cover;
            border-radius: 10.48px;
            aspect-ratio: 1 / 1;
            width: 100%;
        }
        .all-pictures-btn {
            position: absolute;
            bottom: 22px;
            right: 18px;
        }
        .right-img {
            .photo {
                height: 128px;
                object-fit: cover;
                border-radius: 10.48px;
                aspect-ratio: 1 / 1;
                width: 100%;
            }
            .play-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
}
.addons-list {
    padding-left: 1rem;
    li {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }
}
.gallery-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.w-20 {
    width: 20%;
}
.addonspopup-list {
    padding-left: 1rem;
    margin-bottom: 0rem !important;
    li {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
    }
}



///admin css
.add-on-list-nav {
    .nav-item{
        list-style: none;;
    }
    .nav-link {
        border: 0;
        background: #FFFFFF;
        box-shadow: 0px 2px 16px #E8F9F7;
        border-radius: 10px;
        padding: 40px 25px;
        height: 100%;
        color: #1C1C1C;
        @include media-breakpoint-down(md) {
            padding: 15px 15px;
        }
        &.active {
            color: #fff;
            background-color: #62CBC9;
            outline: none;
            .add-ons-nav-image {
                img {
                    box-shadow: 0px 2px 16px #3ba6a4;
                }
            }
            .add-ons-nav-data {
                .h3 {
                    color: #fff;
                }
                .subheader-2 {
                    color: #fff;
                }
            } 
        }
    }
}
.add-ons-nav-data {
    .h3 {
        color: #62CBC9;
    }
    .subheader-2 {
        margin-bottom: 0;
        color: #1C1C1C;
    }
}
.add-ons-nav-image {
    img {
        background: #62CBC9;
        box-shadow: 0px 2px 16px #C3ECEB;
        border-radius: 10px;
        width: 44px;
        height: 43px;
        padding: 11px;
    }
}
.dashboard-bg {
    .theme-table {
        background: #FFFFFF;
        box-shadow: 0px 2px 16px #e8f9f7;
    }
}
.table-dropdown{
    .dropdown-toggle {
        position: relative;
        &.show{
            &::after {
                background-image: url(/images/down-arrow.svg);
                transform: rotate(180deg);
                right: -40px
            }
        }
        &::after {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 2px 30px 2px 2px;
            border: none;
            content: "";
            background-image: url(/images/down-arrow.svg);
            background-position: right 5px center;
            background-repeat: no-repeat;
            background-size: auto 25%;
            -webkit-appearance: none;
            height: calc(1.625rem + 7px);
            position: absolute;
            right: -30px;
            border: 0 !important;
            top: 0;
        }
    }
    .waiting-approval {
        background: #FFF6DE;
        border-radius: 32px;
        border: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #FFB800;
        outline: 0;
        box-shadow: none;
        text-align: center;
        display: inline;
        &::before {
            background: #FFB800;
            width: 6px;
            height: 6px;
            border-radius: 50px;
            content: "";
            display: inline-block;
            margin-right: 0.255em;
            vertical-align: 0.155em;
        }
    }
    .approved {
        background: #E0FCE0;
        border-radius: 32px;
        border: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #1B801B;
        outline: 0;
        box-shadow: none;
        text-align: center;
        display: inline;
        &::before {
            background: #1B801B;
            width: 6px;
            height: 6px;
            border-radius: 50px;
            content: "";
            display: inline-block;
            margin-right: 0.255em;
            vertical-align: 0.155em;
        }
    }
    .rejected {
        background: #FFEDED;
        border-radius: 32px;
        border: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #D81919;
        outline: 0;
        box-shadow: none;
        text-align: center;
        display: inline;
        &::before {
            background: #D81919;
            width: 6px;
            height: 6px;
            border-radius: 50px;
            content: "";
            display: inline-block;
            margin-right: 0.255em;
            vertical-align: 0.155em;
        }
    }
    .updated-approve {
        background: #EDF6FF;
        border-radius: 32px;
        border: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #197CD8;
        outline: 0;
        box-shadow: none;
        text-align: center;
        display: inline;
        &::before {
            background: #197CD8;
            width: 6px;
            height: 6px;
            border-radius: 50px;
            content: "";
            display: inline-block;
            margin-right: 0.255em;
            vertical-align: 0.155em;
        }
    }
    .status-turquoise-100 {
        background:$turquoise-20;;
        border-radius: 32px;
        border: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: $turquoise-100;
        outline: 0;
        box-shadow: none;
        text-align: center;
        display: inline;
        &::before {
            background: $turquoise-100;
            width: 6px;
            height: 6px;
            border-radius: 50px;
            content: "";
            display: inline-block;
            margin-right: 0.255em;
            vertical-align: 0.155em;
        }
    }
    .status-blueturquoise-100 {
        background:#E2F3F2;
        border-radius: 32px;
        border: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #55B3B1;
        outline: 0;
        box-shadow: none;
        text-align: center;
        display: inline;
        &::before {
            background: #55B3B1;
            width: 6px;
            height: 6px;
            border-radius: 50px;
            content: "";
            display: inline-block;
            margin-right: 0.255em;
            vertical-align: 0.155em;
        }
    }
    .status-funblue {
        background:#E9F5FF;
        border-radius: 32px;
        border: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #1C63AF;
        outline: 0;
        box-shadow: none;
        text-align: center;
        display: inline;
        &::before {
            background: #1C63AF;
            width: 6px;
            height: 6px;
            border-radius: 50px;
            content: "";
            display: inline-block;
            margin-right: 0.255em;
            vertical-align: 0.155em;
        }
    }
    .dropdown-menu {
        padding: 15px 10px;
        border: 0;
        top: 6px !important;
        text-align: center;
        background: white;
        border-radius: 6px;
        box-shadow: 0px 2px 16px #e8f9f7;
        li{
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .waiting-approval {
            cursor: pointer;
            background: #FFF6DE;
            border-radius: 32px;
            border: 0;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: #FFB800;
            outline: 0;
            box-shadow: none;
            text-align: center;
            display: inline;
            &::before {
                background: #FFB800;
                width: 6px;
                height: 6px;
                border-radius: 50px;
                content: "";
                display: inline-block;
                margin-right: 0.255em;
                vertical-align: 0.155em;
            }
        }
        .approved {
            background: #E0FCE0;
            cursor: pointer;
            border-radius: 32px;
            border: 0;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: #1B801B;
            outline: 0;
            box-shadow: none;
            text-align: center;
            display: inline;
            &::before {
                background: #1B801B;
                width: 6px;
                height: 6px;
                border-radius: 50px;
                content: "";
                display: inline-block;
                margin-right: 0.255em;
                vertical-align: 0.155em;
            }
        }
        .rejected {
            background: #FFEDED;
            cursor: pointer;
            border-radius: 32px;
            border: 0;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: #D81919;
            outline: 0;
            box-shadow: none;
            text-align: center;
            display: inline;
            &::before {
                background: #D81919;
                width: 6px;
                height: 6px;
                border-radius: 50px;
                content: "";
                display: inline-block;
                margin-right: 0.255em;
                vertical-align: 0.155em;
            }
        }
    }
}
.add-on-setting-ul{
    label{
        margin-bottom: 0.5rem;
        display: block;
        width: 100%;
    }
    span {
        background: #F7FCFC;
        border: 1px solid #E2F3F2;
        border-radius: 6px;
        padding: 0.375rem 0.75rem;
        display: inline-block;
        min-width: 250px;
    }
}
.dashboard-bg {
    .panel-card {
        padding: 25px 30px;
        @include media-breakpoint-down(md) {
            padding: 15px 20px;  
        }
    }
}
.add-ons-discount{
    .add-ons-discount-offer {
        background: #F7FCFC;
        border: 1px solid #62CBC9;
        border-radius: 10px;
        padding: 24px 28px;
    }
    .add-ons-after-discount-price {
        background: #F7FCFC;
        border: 1px solid #62CBC9;
        border-radius: 10px;
        padding: 24px 28px;
    }
}
.feedback-data {
    background: #F7FCFC;
    border: 1px solid #E2F3F2;
    border-radius: 10px;
    padding: 12px 16px;
    height: 160px;
}
.thread-notificaton {
    background: #EDF6FF;
    border-radius: 32px;
    border: 0;
    color: #197CD8;
    outline: 0;
    box-shadow: none;
    text-align: center;
    display: inline;
    &::before {
        background: #197CD8;
        width: 6px;
        height: 6px;
        border-radius: 50px;
        content: "";
        display: inline-block;
        margin-right: 0.255em;
        vertical-align: 0.155em;
    }
}