.contact-us-form{
    .contact-form {
        background: $white;
        box-shadow: 0px 2px 44px rgba(130, 222, 220, 0.2);
        border-radius: 10px;
        padding: 40px;
    }
    .social-icon {
        width: 40px;
    }
}
