.marrige-steps {
    background: $turquoise-20;
    .steps {
        background: $turquoise-100;
        border-radius: 10px;
        padding: 30px 25px;
        position: relative;
        height: 100%;
        top: 0;
        transition: top ease 0.7s;
        &:hover{
            top: -50px;
        }
        .step-icon {
            background: #FFFFFF;
            box-shadow: 4px 10px 16px #4BBBB9;
            border-radius: 10px;
            height: 57px;
            width: 57px;
            position: relative;
            top: 5px;
            @include media-breakpoint-down(md) {
                top: 0px;
            }
        }
        .step-counter {
            position: absolute;
            left: 0;
            background: #1C1C1C;
            border-radius: 0px 10px 10px 0px;
            padding: 8px 25px;
        }
        .step-description {
            background: #5AC1BF;
            border-radius: 10px;
            padding: 20px;
        }
    }
}