.location-page-booking-cards {
    .card-img-overlay:hover {
        background: rgba(98, 203, 201, 0.5);
    }
    .card {
        overflow: hidden;
        .card-img {
            transform: scale(1, 1);
            transition: transform 1.4s;
        }
        &:hover .card-img {
            transform: scale(1.2, 1.2);
        }
        &:hover h3 {
            color: #fff;
        }
        &:hover p {
            color: #fff;
        }
    }
    .p-10 {
        padding: 5rem;
        @include media-breakpoint-down(lg) {
            padding: 2rem;
        }
    }
}
.calander-time {
    border: 1px solid #e2f3f2;
    border-radius: 10px;
    padding: 30px;
}
.rounded-12 {
    border-radius: 12px;
}
.choose-date {
    cursor: pointer;
    &:hover {
        color: $neutral-100;
    }
}
.location-banner-data {
    background-image: url("/images/location-header.svg");
    background-size: cover;
    border-radius: 10px;
    padding-top: 50px;
    .col-md-9.mx-auto.location-search-data {
        padding: 30px;
        position: relative;
        top: 25px;
        background: #ffffff;
        box-shadow: 0px 15px 40px rgba(211, 211, 211, 0.32);
        border-radius: 20px;
    }
}
// admin
.cross-icon {
    position: relative;
    top: 8px;
}
.location-detail-slider {
    .slider-for {
        .slick-track {
            .slick-slide {
                img {
                    height: 377px;
                    object-fit: cover;
                    aspect-ratio: 1 / 1;
                    border-radius: 10px;
                }
            }
        }
    }
    .slider-nav {
        img {
            height: 120px;
            object-fit: cover;
            aspect-ratio: 1 / 1;
            border-radius: 10px;
        }
    }
}

//partner
.partners-details{
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
}