.left-form-part{
  padding-top: 100px;
  @include media-breakpoint-up(lg) {
    padding-top: 0px;
  }
  .top {
    position: absolute;
    top: 0;
    right: 0;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  .bottom {
    position: absolute;
    bottom: -160px;
    left: 0;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  .form-information {
    position: relative;
    top: 25px;
  }
  .form-logo {
    @include media-breakpoint-down(lg) {
      width: 240px;
    }
  }
}
.right-form-part {
  background: #62CBC9;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .card-login {
    @include media-breakpoint-down(lg) {
      background: #FFFFFF;
      border: 0.5px solid #CDCDCD;
      box-shadow: 0px 2px 16px #e8f9f7;
      border-radius: 8px;
      position: relative;
      margin-top: -120px;
    }
  }
  @include media-breakpoint-down(lg) {
    background: #62CBC9;
    height: auto;
    padding: 40px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .top {
    position: absolute;
    top: 0;
    right: 0;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .bottom {
    position: absolute;
    bottom: 0;
    left: -100px;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .password-with-eye {
    position: relative;
    .eyeIcon {
      position: absolute;
      top: 10px;
      right: 10px;
  }
  }
}