.dropdown-calander {
    .dropdown-menu {
        &.show {
            background: #FFFFFF;
            border: 1px solid #E2F3F2;
            box-shadow: 0px 2px 16px #E8F9F7;
            border-radius: 10px;
            width: 529px;
            right: 0px !important;
            padding: 0px !important;
            .calendar-box {
                border: none !important;
            }
        }
    }
}