.realistic-coronavirus-bg {
    background: linear-gradient(90.16deg, #E2F3F2 54.24%, rgba(226, 243, 242, 0.674502) 67.65%, rgba(226, 243, 242, 0) 88.58%);
    border-radius: 10px;
    .realistic-coronavirus-image {
        z-index: -1;
    }
}