.register {
    @include media-breakpoint-down(md) {
        position: relative;
    }
    .left {
        background-color: $turquoise-100;
        padding-top: 50px;
        @include media-breakpoint-down(md) {
            padding-bottom: 50px;
        }
    }
    .right {
        padding-top: 98px;
        padding-left: 30px;
        padding-right: 30px;
        @include media-breakpoint-down(md) {
            position: absolute;
            top: 219px;
            width: 90%;
            margin: 0 auto;
            z-index: 99999;
            left: 0px;
            right: 0px;
            padding: 30px 23px !important;
            background: #FFFFFF;
            border: 0.5px solid #CDCDCD;
            box-shadow: 0px 2px 16px #E8F9F7;
            border-radius: 8px;
        }
    }
}