.slider-nav{
    .slick-slide {
        margin: 0 6px;
      }
      .slick-list {
        margin: 0px -6px 0px -6px;
      }
}
.facilities {
    background: $turquoise-20;
}
.single-location {
    background: $turquoise-20;
}
.slide-for-top img {
  object-fit: cover;
  height: 450px;
}
.slider-nav-bottom img {
  object-fit: cover;
  height: 150px;
}