.bg-turquoise-20{
    background-color: $turquoise-20;
}
.compare-steps {
    background: $white;
    box-shadow: 0px 2px 16px #E8F9F7;
    border-radius: 10px;
    padding-bottom: 34px;
        .compare-steps-header {
            background: #62CBC9;
            border-radius: 10px;
            padding: 20px 10px;
            z-index: 9;
            &:after{
                position: absolute;
                background: #62cbca;
                content: "";
                width: 20px;
                height: 20px;
                bottom: -10px;
                right: 0;
                left: 0;
                margin: 0 auto;
                transform: rotate(-133deg);
                z-index: -1;
            }
        }
        ul{
            padding: 0px 20px;
        }
}
.invitation-card-data {
    position: absolute;
    text-align: center;
    right: 140px;
    @include media-breakpoint-down(lg) {
        right: 50px;
    }
    @include media-breakpoint-down(md) {
        right: 0px;
        left: 0px;
        bottom: 5px;
    }
}
.partition-text {
    display: block;
    position: absolute;
    top: 120px;
    left: 0;
    right: -70px;
    max-width: 100px;
    margin: 0 auto;
    @include media-breakpoint-down(lg) {
        top: 60px;
        left: 0;
        right: -30px;
    }
    @include media-breakpoint-down(md) {
        top: 34px;
    }
}
.bg-turquoise-20{
    background: $turquoise-20;
}
.mt-60{
    margin-top: 60px;
}
.mt-50{
    margin-top: 50px;
}