@mixin cart-icon{
    position: absolute;
    background: #197CD8;
    color: #fff;
    border-radius: 50px;
    height: 13px;
    width: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    top: 0;
    right: 0;
}
@mixin mobile-cart-icon{
    top: 5px;
    right: 12px;
}