h1,
.h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    @include media-breakpoint-down(lg) {
        font-size: 40px;
        line-height: 55px;
    }
}

h2,
.h2 {
    font-weight: 400;
    font-size: 45px;
    line-height: 53px;
    @include media-breakpoint-down(lg) {
        font-size: 35px;
        line-height: 43px;
    }
}

h3,
.h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    @include media-breakpoint-down(lg) {
        font-size: 20px;
        line-height: 25px;
    }
}

h4,
.h4 {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    @include media-breakpoint-down(lg) {
        font-size: 15px;
        line-height: 22px;
    }
}

.subheader-1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    @include media-breakpoint-down(lg) {
        font-size: 18px;
        line-height: 25px;
    }
}

.subheader-2 {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}

.subheader-3 {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.button-1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.button-2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.button-3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.button-2-regular {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 2px;
}

.body-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.body-2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.body-3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.body-3-regular {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.body-3-medium {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.small-text1 {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.small-text2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.small-text3 {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

.paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 5px;
}

.p2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}

.p3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.72em;
    @include media-breakpoint-down(md) {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 6px;
    }
}

.p4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    @include media-breakpoint-down(md) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
    }
}

.cursive {
    font-family: "Dearest Winnie";
    font-weight: 400;
    font-size: 90px;
    line-height: 136px;
    @include media-breakpoint-down(lg) {
        font-size: 50px;
        line-height: 66px;
    }
    @include media-breakpoint-down(md) {
        font-size: 34px;
        line-height: 44px;
        margin-bottom: 0;
    }
}
.cursive-small {
    font-family: "Dearest Winnie";
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
    @include media-breakpoint-down(lg) {
        font-size: 20px;
        line-height: 26px;
    }
    @include media-breakpoint-down(md) {
        font-size: 12px;
        line-height: 20px;
    }
}

.netural-100 {
    color: #1c1c1c;
}
.accents-70 {
    color: $red-70;
}
.body-regular-20 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
}
.user-dash-links {
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
}
