$turquoise-100:#62CBC9;
$turquoise-50:#E2F3F2;
$turquoise-20:#F7FCFC;
$sand-100:#E1C19E;
$sand-50:#EFD3B5;
$haze-100:#B6CED0;
$haze-50:#D6E3E4;
$haze-20:#EDF1F1;
$blush-100:#E9C4C6;
$blush-50:#F3DEDF;
$blush-20:#FBF2F3;
$violet-100:#595378;
$violet-50:#8E86B7;
$violet-20:#BFB7ED;
$neutral-100:#1C1C1C;
$neutral-70:#707070;
$neutral-50:#CDCDCD;
$neutral-25:#F9F9F9;
$white:#FFFFFF;
$black:#000000;
$gray-0:#F7F8FA;
$gray-50:#EDEDF0;
$gray-500:#687182;