.monthlyClass{
    .fc-day-past {
        background: #e9f0f1 !important;
        .fc-daygrid-day-events {
            display: flex;
            flex-direction: column;
            min-height: auto !important;
            height: 160px;
            overflow-y: auto;
            overflow-x: hidden;
            direction: rtl;
            margin-left: 3px;
            padding-left: 15px;
            margin-top: 10px !important;
            margin-bottom: 10px;
            &::-webkit-scrollbar-track
            {
                background-color: #B6CED0;
                border-radius: 100px;
            }
            &::-webkit-scrollbar
            {
                width: 3px;
            }
            &::-webkit-scrollbar-thumb
            {
                background-color: #6F8B8D;
                border-radius: 100px;
            }
        }
        .fc-daygrid-event-harness {
            direction: ltr;
        }
        .fc-event-availability {
            .fc-event-availability {
                color: #fff;
                background: #B6CED0;
                border-radius: 31px;
                display: inline-block;
                padding: 5px 10px;
                font-weight: 700;
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 10px;
                margin-left: -10px;
            }
        }
        .fc-daygrid-event{
            flex-wrap: wrap;
            &:hover{
                background: transparent;
            }
            &:focus-visible{
                outline: none;
            }
            &:focus{
                box-shadow: unset;
            }
            .availability-details{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    left: -10px;
                    top: 6px;
                    background: #1C1C1C;
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                }
            }
            .booking-slot{
                .fc-event-ceremonies_count {
                    color: #fff;
                    background: #B6CED0;
                    border-radius: 31px;
                    display: inline-block;
                    padding: 5px 10px;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 16px;
                    margin-bottom: 10px;
                    margin-left: -10px;
                    margin-top: 6px;
                }
            }
        }
    } 
}