.turquoise-100 {
    color: $turquoise-100;
}

.turquoise-50 {
    color: $turquoise-50;
}

.turquoise-20 {
    color: $turquoise-20;
}

.sand-100 {
    color: $sand-100;
}

.sand-50 {
    color: $sand-50;
}

.haze-100 {
    color: $haze-100;
}

.haze-50 {
    color: $haze-50;
}

.haze-20 {
    color: $haze-20;
}

.blush-100 {
    color: $blush-100;
}

.blush-50 {
    color: $blush-50;
}

.blush-20 {
    color: $blush-20;
}

.violet-100 {
    color: $violet-100;
}

.violet-50 {
    color: $violet-50;
}

.violet-20 {
    color: $violet-20;
}

.neutral-100 {
    color: $neutral-100;
}

.neutral-70 {
    color: $neutral-70;
}

.neutral-50 {
    color: $neutral-50;
}

.neutral-25 {
    color: $neutral-25;
}

.h-37 {
    height: 37px;
}

.pb-80 {
    padding-bottom: 80px;
    @include media-breakpoint-down(lg) {
        padding-bottom: 60px;
    }
}

.pb-100 {
    padding-bottom: 100px;
    @include media-breakpoint-down(md) {
        padding-bottom: 60px;
    }
}

.pt-100 {
    padding-top: 100px;
    @include media-breakpoint-down(md) {
        padding-top: 60px;
    }
}

.pt-50 {
    padding-top: 50px;
    @include media-breakpoint-down(lg) {
        padding-top: 50px;
    }
}

.pt-128 {
    padding-top: 128px;
    @include media-breakpoint-down(lg) {
        padding-top: 118px;
    }
}

.bg-neutral-100 {
    background-color: $neutral-100;
}

.mb-75 {
    margin-bottom: 75px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 65px;
    }
}

.theme-gradient {
    background: linear-gradient(270.36deg, #e2f3f2 62.25%, rgba(226, 243, 242, 0) 72.51%);
}

.bg-turquoise-50 {
    background-color: $turquoise-50;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
    @include media-breakpoint-down(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
    @include media-breakpoint-down(lg) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.px-50 {
    padding-left: 50px;
    padding-right: 50px;
    @include media-breakpoint-down(lg) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
    @include media-breakpoint-down(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.ps-150 {
    padding-left: 150px;
    @include media-breakpoint-down(lg) {
        padding-left: 15px;
    }
}

.pe-40 {
    padding-right: 40px;
    @include media-breakpoint-down(lg) {
        padding-right: 15px;
    }
}

.pe-150 {
    padding-right: 150px;
    @include media-breakpoint-down(lg) {
        padding-right: 15px;
    }
}

.ps-30 {
    padding-left: 30px;
    @include media-breakpoint-down(lg) {
        padding-left: 15px;
    }
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
    @include media-breakpoint-down(lg) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.h-100 {
    height: 100%;
}

.mb-80 {
    margin-bottom: 80px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 70px;
    }
}

.mb-130 {
    margin-bottom: 130px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 70px;
    }
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.radius-10 {
    border-radius: 10px;
}

.theme-hr {
    background-color: #cdcdcd;
    border-top: 1px solid #cdcdcd;
    margin: 0px;
    opacity: 1;
}

.gap-10 {
    gap: 6rem !important;
}

.mb-11 {
    margin-bottom: 11px !important;
}

.sidebar-bg-color {
    background-color: $turquoise-100;
}

.pt-45 {
    padding-top: 45px;
}

.mb-50 {
    margin-bottom: 50px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
    }
}

.bg-turquoise-20 {
    background-color: $turquoise-20;
    &:hover {
        background-color: $turquoise-20;
    }
}
.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
    @include media-breakpoint-down(lg) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.pb-40 {
    padding-bottom: 40px;
    @include media-breakpoint-down(lg) {
        padding-bottom: 30px;
    }
}
.pb-80 {
    padding-bottom: 80px;
    @include media-breakpoint-down(lg) {
        padding-bottom: 40px;
    }
}
.bg-turquoise-100 {
    background-color: $turquoise-100;
}
.gray-gray-800 {
    color: $gray-gray-800;
}
.gray-gray-900 {
    color: $gray-gray-900;
}
.intel-font {
    font-family: $inter-font;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-38 {
    margin-bottom: 38px;
}
.h-100vh {
    height: 100vh;
}
.mt-144 {
    margin-top: 144px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mt-34 {
    margin-top: 34px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-6 {
    margin-right: 6px;
}
.admin-pt-92 {
    padding-top: 20px;
    @include media-breakpoint-up(lg) {
        padding-top: 92px;
    }
}
.pt-92 {
    padding-top: 92px;
    @include media-breakpoint-down(lg) {
        padding-top: 40px;
    }
}
.pb-60 {
    padding-bottom: 60px;
    @include media-breakpoint-down(lg) {
        padding-bottom: 40px;
    }
}
.dark-blue-100 {
    color: $dark-blue-100;
}
.text-decoration {
    text-decoration: underline;
}
.cursor-pointer {
    cursor: pointer;
}
.offcanvas-backdrop.show {
    opacity: 0.3 !important;
}
.bg-accent-blue-100 {
    background-color: $accent-blue-100;
}
.mb-2px{
    margin-bottom:2px;
}
