footer {
    padding-top: 111px;
    padding-bottom: 111px;
    .footer-logo {
        padding-bottom: 30px;
        height: 90px;
    }
    .list {
        padding-left: 0rem !important;
        li {
            list-style: none;
            margin-bottom: 10px;
            a {
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                color: #FFFFFF !important;
                text-decoration: none;
                padding: 14px 0px;
            }
            &:last-child {
                margin-bottom: 0px !important;
            }
        }
    }
}