
.form-control {
    background: $turquoise-20;
    border: 1px solid $turquoise-50;
    border-radius: 6px;
}

.form-control:focus {
    color: $turquoise-100;
    background: $white;
    box-shadow: 0px 2px 16px #E8F9F7;
    border: 1px solid $turquoise-100;
    outline-style: solid;
    outline-color: $turquoise-50;
    outline-width: thick;
}

.form-control::placeholder {
    color: $neutral-100;
    opacity: 1;
}

.form-check-input:checked {
    background-color: $turquoise-100;
    border-color: $turquoise-100;
}

.form-check-input {
    border-color: $turquoise-100;
    background: transparent;
}

.form-check-input:focus {
    border-color: $turquoise-100;
    outline: 0;
    box-shadow: unset;
}
.was-validated .form-control:valid, .form-control.is-valid {
    background-image: none;
  }
  .has-search {
    .form-control {
        padding-left: 2.375rem;
        background: $gray-0;
        border: 1px solid $gray-50;
        border-radius: 6px;
        color: $gray-500;
        &:focus{
            outline: 0;
        }
        &::placeholder {
            color: $gray-500;
            opacity: 1;
        }
    }
    .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: $gray-500;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background: $turquoise-20;
    border: 1px solid $turquoise-50;
    border-radius: 6px;
}
.theme-input-group{
    position: relative;
   .right-icon{
    position: absolute;
    top: 0px;
    padding: 0.7rem 0.75rem;
   right: 0px;
 }
}
.forgot-password-link{
    color:$accent-blue-100;
    text-decoration:none;
    &:hover{
        color:$accent-blue-100;
    }
}