.modal {
    &.whitout-header-modal {
        .modal-content {
            background: #ffffff;
            border-radius: 10px;

            .modal-body {
                padding: 62px 84px;
                @include media-breakpoint-down(lg) {
                    padding: 30px;
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .w-100-sm {
        width: 100%;
    }
}
.theme-modal {
    .modal-content {
        border: none !important;
        background: #ffffff;
        border-radius: 10px;
        .modal-body {
            padding: 30px 47px;
        }
    }
}
