.modal {
    &.whitout-header-modal {
        .modal-content {
            background: #ffffff;
            border-radius: 10px;

            .modal-body {
                padding: 62px 84px;
                @include media-breakpoint-down(lg) {
                    padding: 30px;
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .w-100-sm {
        width: 100%;
    }
}
.theme-modal {
    &.signature-padding {
        .modal-body {
            padding: 50px 50px 45px 50px;
        }
        .modal-footer {
            padding-bottom: 37px;
            padding-top: 0px;
        }
    }
    .modal-content {
        border: none !important;
        background: #ffffff;
        border-radius: 10px;
        .modal-body {
            padding: 30px 47px;
            @include media-breakpoint-down(md) {
                padding: 15px 15px;
            }
        }
    }
}
.pdf-downlaod {
    position: relative;
    width: 120px;
    .img-fluid {
        display: block;
        width: 100%;
        height: auto;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background: #62cbc9;
        border-radius: 10px;
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    &:hover .overlay {
        opacity: 0.9;
    }
}
