.dashboard-bg{
    background: #FBFBFC;
}
#sidebarMenu{
    background: #fff;
    border-radius: 0px 12px 12px 0px;
    .nav-link{
        border-radius: 6px;
        color: #62CBC9;
        padding: 15px 25px;
        &.active{
            background: #62CBC9;
            color: #FFFFFF;
        svg path {
            fill: #fff;
        }
        }
    }
}
.dashboard-content {
    background: #FFFFFF;
    box-shadow: 0px 2px 16px #E8F9F7;
    border-radius: 8px;
}