.upload__box {
  background: $turquoise-20;
  border: 1px solid $turquoise-50;
  border-radius: 10px;
  width: 100%;
  min-height: 262px;
  padding: 25px;
  height: 100%;
  .upload__img-box {
    padding: 0 10px;
    margin-bottom: 15px;
    width: 33.33%;
    .img-bg {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      position: relative;
      padding-bottom: 60%;
      aspect-ratio: 1;
    }
  }
}
.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload__btn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  min-width: 116px;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: #4045ba;
  border-color: #4045ba;
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
}
.upload__btn:hover {
  background-color: unset;
  color: #4045ba;
  transition: all 0.3s ease;
}
.upload__btn-box {
  margin-bottom: 10px;
}
.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.upload__img-close {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
  &:after {
    content: "";
    background-image: url(/images/icons/cross.svg);
    font-size: 14px;
    color: white;
    width: 20px;
    position: absolute;
    top: 0px;
    z-index: 9999;
    height: 20px;
    right: 0px;
  }
}
//
.drop-zone {
  background: $turquoise-20;
  border: 1px solid $turquoise-50;
  border-radius: 10px;
  width: 100%;
  min-height: 262px;
  height: 100%;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: $turquoise-20;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
  display: none;
}
.drop-zone__prompt{
  .jpg-icon{
    width: 80px;
    margin: 0 auto;
  }
}

.hideme {
  display: none;  
}

.partner-gallery-upload-box{
  .upload__box {
    background: #F7FCFC;
    border: 1px solid #E2F3F2;
    border-radius: 10px;
    width: 100%;
    max-height: 300px;
    padding: 25px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
}
.prtner-avtar-image{
  .drop-zone {
    min-height: 50px;
    height: auto;
}
}