@font-face {
    font-family: 'Spartan';
    src: url('Spartan-Regular.woff2') format('woff2'),
        url('Spartan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dearest Winnie';
    src: url('DearestWinnie.woff2') format('woff2'),
        url('DearestWinnie.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

